{{!-- <link rel="stylesheet" href="/styles/user-dashboard.css" /> --}}
<link rel="stylesheet" href="/styles/user-dashboard.css">

<div class="container-wrapper">
	<header>
		<div class="container">
			<h1>Welcome to Home Page</h1>
			<nav>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Profile</a></li>
					<li><a href="#">Settings</a></li>
					<li><a href="/user/auth">Login</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<main>
		<div class="container-shadow">
			<div>
        <h3>Login to Dashboard</h3>
        <p>Please login to view your dashboard</p>
      </div>
		</div>
	</main>

	<footer>
		<div class="container">
			<p>&copy; 2024 My Website. All rights reserved.</p>
			<ul>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Terms of Service</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
	</footer>
</div>